@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
body {
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: black;
}

pre {
    background-color: lightgrey;
    width: 100%;
}

h4 {
    color: lightgreen;
    font-weight: 900;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    
}

a, form > input {
    margin: 0rem 1rem 0rem 0rem;
}


a {
    text-decoration: none;
    color: black;
    border: none;
}
    